html {
  font-family: Arial;
}

.container-fluid {
  padding: 7% 15%;
}

nav {
  background-color: #d70808ff;
}

.nav-img {
  width: 30px;
}

textarea {
  resize: none;
  overflow: hidden;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1%;
  padding: 20px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card p {
  padding: 3px;
}

/* Login Page  */

.login-box, .register-box {
  width: 300px;
  margin: 5% auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1%;
  text-shadow: none;
  padding-top: 15px;
  padding-bottom: 15px;
 }

 /* Profile Page */
 .profile-img {
   border-radius: 100%;
 }

 .user-info {
   padding-left: 20px;
 }

